<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Goals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Course Goals</h1>
    </header>
    <main>
        <p>This course will present students with the foundations of the use of Python and other scripting languages for network automation.
            The course builds upon the use of Python as the basic automation tool and introduces additional tools to guide students through the development and implementation of
            solutions for the tasks discussed, as well as course projects. Students will acquire the skills to develop their own Python scripts and network automation tools
            to enable new capabilities or to validate the results of existing tools.</p>

        <a href="{{ url_for('splash') }}">Back to Home</a>
    </main>
    <footer>
        <p>&copy; 2025 TCOM 570: Network Automation. All rights reserved.</p>
    </footer>
</body>
</html>
