<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honor Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Honor Code</h1>
    </header>
    <main>
        <p>The Mason Honor Code is in effect https://oai.gmu.edu/full-honor-code-document/
            Student members of the George Mason University community pledge not to cheat, plagiarize, steal, and/or lie in matters related to academic work.
            Any student use of Generative-AI tools should follow the fundamental principles of the Honor Code.
            These should be used as tools and as additional training and study aids, but should not be utilized in a full capacity of work.</p>

        <a href="{{ url_for('splash') }}">Back to Home</a>
    </main>
    <footer>
        <p>&copy; 2025 TCOM 570: Network Automation. All rights reserved.</p>
    </footer>
</body>
</html>